body{
    /*padding-top: 70px;*/
    min-width: 960px;
}

#header{
    padding:10px 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

#header .logo{
    text-indent: -9999em;
    font-size: 30px;
    height: 30px;
    background-color: #ccc;
}

#content{
    margin-top: 20px;
}

@media (max-width: 979px) {
    body{
        /*padding-top: 0;*/
    }
}