body {
  /*padding-top: 70px;*/

  min-width: 960px;
}
#header {
  padding: 10px 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
#header .logo {
  text-indent: -9999em;
  font-size: 30px;
  height: 30px;
  background-color: #ccc;
}
#content {
  margin-top: 20px;
}
.pt10 {
  padding-top: 10px;
}
.mt10 {
  margin-top: 10px;
}
.bt1 {
  border-top: 1px solid #ccc;
}
.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.navbar .nav .avatar img {
  width: 24px;
  padding: 8px 0;
}
.avatar-64 {
  width: 64px;
  height: 64px;
}
.avatar-32 {
  width: 32px;
  height: 32px;
}
.avatar-16 {
  width: 16px;
  height: 16px;
}
.description .title {
  color: #404040;
  font-size: 14px;
  font-weight: 800;
}
